---
export interface Link {
  title: string;
  href: string;
  icon: string;
  visible: boolean;
  order: number;
}

import Icon from "../components/Icon";
import Layout from "../layouts/Layout.astro";
import { Content as About } from "../about.md";

const links = await Astro.glob<Link>("./links/**.md");

const sortedLinks = links.sort(
  (a, b) => a.frontmatter.order - b.frontmatter.order
);

async function getDiscordProfile(): Promise<any> {
  const { DISCORD_ID, DISCORD_TOKEN } = import.meta.env;
  const json = await fetch(`https://discord.com/api/v9/users/${DISCORD_ID}`, {
    headers: {
      Authorization: `Bot ${DISCORD_TOKEN}`,
    },
  }).then((res) => res.json());

  return json;
}

const profile = await getDiscordProfile();

const getProfilePicture = (): string => {
  return `https://cdn.discordapp.com/avatars/${profile.id}/${profile.avatar}.${
    profile.avatar.startsWith("a_") ? "gif" : "webp"
  }?size=128`;
};
---

<Layout>
  <div class="md:p-32 p-12 grid gap-y-8">
    <div class="w-full grid gap-y-4">
      <img
        src={getProfilePicture()}
        alt={profile.username}
        width="96px"
        height="96px"
        class="w-24 h-24 justify-self-center rounded-full border-4 border-indigo-500 shadow-indigo-500/50"
      />
      <h1 class="font-bold text-xl text-white justify-self-center">
        {profile.username}#{profile.discriminator}
      </h1>
      <div class="text-white font-semibold text-center text-lg">
        <About />
      </div>
    </div>
    <div
      class="shadow-lg justify-self-center relative max-w-xl w-full p-6 shadow-indigo-500/50 rounded-lg text-white outline outline-indigo-500"
    >
      <h1 class="text-4xl font-bold absolute -top-6 text-center bg-black px-2">
        Links
      </h1>
      <ul class="grid grid-cols-1 gap-4">
        {sortedLinks.map(({ url, frontmatter }) => {
          if (frontmatter.visible) {
            return (
              <li class="">
                <a href={url} class="flex gap-x-2 items-center font-bold group">
                  <Icon name={frontmatter.icon} />
                  <span class="animated-underline">{frontmatter.title}</span>
                </a>
              </li>
            );
          }
        })}
      </ul>
    </div>
  </div>
</Layout>
